@font-face {
  font-family: "San Francisco Display Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg");
}

@font-face {
  font-family: "San Francisco Display Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg");
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg");
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg");
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "San Francisco Display Medium";
  overflow-x: hidden;
}

.screen {
  width: 25rem;
  height: 52rem;
  padding: 0.75rem;
  background: rgb(196, 124, 255);
  border-radius: 3.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
  border: 0.8rem solid #000;
  overflow: hidden;
  margin-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.scrollable {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  overflow-x: hidden;
}

.status-bar {
  z-index: 9999;
  position: relative;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  top: -1rem;
  left: -1rem;
  height: 2.5rem;
}

.dynamic-island {
  width: 7rem;
  height: 2rem;
  background: #000;
  border-radius: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  color: #fff;
  visibility: visible;
  overflow: hidden;
}

/* the real camera! */
.dynamic-island::after {
  content: "";
  width: 7rem;
  height: 2rem;
  background: rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  border-radius: 2rem;
  transform: translateX(-50%);
}
.dynamic-island:hover {
  transform: translateX(-50%) scaleX(1.05) scaleY(1.1);
}

.dynamic-island.on-state {
  width: 15.5rem;
}

.dynamic-island.on-state-md {
  width: 18rem;
}

.dynamic-island.on-state-lg {
  width: 22rem;
}

@keyframes state-appear {
  0% {
    filter: blur(12px);
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.dynamic-island .left-data {
  position: absolute;
  top: -0.35rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  filter: blur(12px);
  transform: scale(0.8);
  opacity: 0;
  animation: state-appear 0.5s forwards;
}

.dynamic-island .right-data {
  position: absolute;
  right: 0;
  top: -0.35rem;
  text-align: right;
  margin-right: 1rem;
  font-size: 0.8rem;
  filter: blur(12px);
  transform: scale(0.8);
  opacity: 0;
  animation: state-appear 0.5s forwards;
}

.dynamic-island .left-data.exit {
  animation: state-appear 0.5s reverse;
}

.dynamic-island .right-data.exit {
  animation: state-appear 0.5s reverse;
}

.dynamic-island .left-data .green,
.dynamic-island .right-data .green {
  color: rgb(0, 203, 47);
}

.dynamic-island .left-data .bi,
.dynamic-island .right-data .bi {
  transform: scale(2);
}

.menu {
  position: relative;
  top: 3rem;
  /* padding-left: 1rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  transition: .5s;
}


.menu .app {
  padding: .5rem;
  border-radius: 1.2rem;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  transition: .5s;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.menu .app:hover {
  cursor: pointer;
  transform: translateX(-50%) scale(1.125);
 
}

.menu .app:active {
  transform: translateX(-50%) scale(0.8);
}

.menu .app .bi {
  
}

.menu .app-section {
  position: relative;
  text-align: center;
}

.menu .app-section p {
  margin: 0;
  position: relative;
  font-size: 0.75rem;
  color: #fff;  
}

.menu .app.active {
  background: rgb(0, 203, 47);
}

.custom-zone {
  position: absolute;
  margin-top: 5rem;
}

.custom-zone .container {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: .5s;
}

.status-left {
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .5s;
  filter: blur(0);
  transform: scale(1);
  overflow: hidden;
  opacity: 1;
}

@keyframes state-appear-reverse {
  from {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }

  to {
    
    filter: blur(12px);
    transform: scale(0.8);
    opacity: 0;
  }
}

.status-left.exit {
  animation: state-appear 0.25s reverse;
}

.status-left p {
  position: relative;
  top: -0.5rem;
  color: #fff;
  /* left: 50%; */
}

.status-left.appear {
  animation: state-appear 0.5s forwards;
}

.status-right {
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .5s;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
}
.status-right.appear {
  animation: state-appear 0.5s forwards;
}

.status-right.exit {
  animation: state-appear 0.25s reverse;
}

.status-icon {
  margin-right: 0.33rem;
  color: #fff;
  position: relative;
  top: 0.5rem;
  transition: .5s;
  display: block;
  width: auto;
  overflow: hidden;
}

#battery-number {
  /* padding: 0.5rem; */
  background: #fff;
  border-radius: 0.33rem;
  color: #000;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.75rem;
  position: relative;
  top: -0.125rem;
  height: 1rem;
  min-width: 1.2rem;
  white-space: nowrap;
}

#battery-number::before {
  content: "";
  width: 0.125rem;
  height: 40%;
  position: absolute;
  background: #fff;
  border-radius: 0 50% 50% 0;
  right: -0.15rem;
  top: 50%;
  transform: translateY(-50%);
}

#battery-number.charging {
  background: rgb(0, 203, 47);
  color: #fff;
}

#battery-number.charging::before {
  background: rgb(0, 203, 47);
}

#battery-number .bi {
  font-size: 0.5rem;
  position: relative;
  top: -0.0625rem;
} 

.title {
  text-align: center;
}

.problem {
  visibility: hidden;
  color: red;
}

@keyframes status-icon-disappear {
  0% {
    width: 16px;
    filter: blur(0);
      transform: scale(1);
      opacity: 1;
  } 100% {
    width: 0px;
    filter: blur(12px);
      transform: scale(0.8);
      opacity: 0;
  }
}

@keyframes status-icon-appear {
  0% {
    width: 0px;
    filter: blur(12px);
    transform: scale(0.8);
    opacity: 0;
    
  } 100% {
    width: 16px;
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bouncing {
  0% {
    margin-left: 0;  
  } 25% {
    margin-left: 0.25rem;  
  } 100% {
    margin-left: 0;  
  }
}

.custom-zone input {
  border: none;
  padding: .5rem;
  border-radius: 2rem;
  background: #000;
  color: #fff;
  transition: .5s;
  outline: none;
  width: 6rem;
  margin-bottom: 1rem;
  
}

.custom-zone input:focus {
  width: 10rem;
}

.custom-zone button {
  padding: .5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

#view {
  background: linear-gradient(45deg,rgb(255, 202, 255),rgb(208, 54, 255), #000);
  width: fit-content;
  color: transparent;
  -webkit-background-clip: text;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  transition: .2s;
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 255, 255, 0.473);
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}